In [16]:
from bs4 import BeautifulSoup
import requests
from time import sleep
import random
import csv
from datetime import datetime
import re

In [28]:
page_nr = 1
page_limit = 5

modelis_pattern = re.compile(r'^([\w ]+),')
turis_pattern = re.compile(r'\b\d\.\d{1,2}\b')
kebulas_pattern = re.compile(r', ([\w ]+)$')

dabar = datetime.today().strftime("%Y-%m-%d %H-%M-%S")

with open(f"autoplius {dabar}.csv", "w", encoding="UTF-8", newline='') as failas:
    csv_writer = csv.writer(failas)
    csv_writer.writerow(['Modelis', 'Variklio tūris', 'Kėbulas', 'Kaina', 'Metai', 'Kuro tipas', 'Pavarų dėžė', 'Galia', 'Rida'])

    while True:
        try:
            payload = {'page_nr': page_nr, 'older_not': -1}
            sleep(random.randint(1, 8))
            print(f"Nuskaitomas puslapis {page_nr}")
            source = requests.get('https://autoplius.lt/skelbimai/naudoti-automobiliai', params=payload).text
            soup = BeautifulSoup(source, 'html.parser')
            blokai = soup.find_all('a', class_ = 'announcement-item')

            for blokas in blokai:
                try:
                    bendri_duomenys = blokas.find('div', class_ = 'announcement-title').text.strip()
                    modelis = modelis_pattern.search(bendri_duomenys).group(1)
                    turis = float(turis_pattern.search(bendri_duomenys).group())
                    kebulas = kebulas_pattern.search(bandomasis).group(1) 
                    kaina = blokas.find('div', class_ = 'announcement-pricing-info').strong.text.strip()
                    metai = blokas.find('span', title = 'Pagaminimo data').text.strip()
                    kuro_tipas = blokas.find('span', title = 'Kuro tipas').text.strip()
                    pavaru_deze = blokas.find('span', title = 'Pavarų dėžė').text.strip()
                    galia = blokas.find('span', title = 'Galia').text.strip()
                    rida = blokas.find('span', title = 'Rida').text.strip()
                    csv_writer.writerow([modelis, turis, kebulas, kaina, metai, kuro_tipas, pavaru_deze, galia, rida])
                except:
                    print("Nepavyko nuskaityti bloko")
        except:
            print(f"Nepavyko nuskaityti {page_nr} puslapio")
            break
        if page_nr >= page_limit:
            print(f"{page_nr} puslapių nuskaitymas baigtas")
            break
        page_nr += 1

Nuskaitomas puslapis 1
Nepavyko nuskaityti bloko
Nuskaitomas puslapis 2
Nepavyko nuskaityti bloko
Nepavyko nuskaityti bloko
Nepavyko nuskaityti bloko
Nuskaitomas puslapis 3
Nepavyko nuskaityti bloko
Nuskaitomas puslapis 4
Nepavyko nuskaityti bloko
Nepavyko nuskaityti bloko
Nuskaitomas puslapis 5
Nepavyko nuskaityti bloko
Nepavyko nuskaityti bloko
5 puslapių nuskaitymas baigtas

In [29]:
from pandas import pandas as pd

In [30]:
automobiliai = pd.read_csv('autoplius 2021-02-10 12-36-54.csv')

In [31]:
automobiliai

            Modelis  Variklio tūris  Kėbulas  ... Pavarų dėžė   Galia        Rida
0        Opel Omega             2.5  sedanas  ...  Automatinė  110 kW  220 000 km
1       Peugeot 307             1.6  sedanas  ...   Mechaninė   80 kW  208 000 km
2   Chevrolet Spark             1.0  sedanas  ...   Mechaninė   49 kW  149 000 km
3      Suzuki Liana             1.6  sedanas  ...   Mechaninė   79 kW  155 000 km
4        Opel Corsa             1.2  sedanas  ...   Mechaninė   59 kW  125 000 km
..              ...             ...      ...  ...         ...     ...         ...
86   Subaru Outback             2.5  sedanas  ...  Automatinė  127 kW  216 000 km
87    Seat Altea XL             1.9  sedanas  ...   Mechaninė   77 kW  260 000 km
88        Volvo S80             2.4  sedanas  ...  Automatinė   96 kW  305 105 km
89   Renault Kangoo             1.5  sedanas  ...   Mechaninė   50 kW  157 000 km
90  Volkswagen Golf             2.0  sedanas  ...   Mechaninė  103 kW  380 000 km

[91 rows x 9 columns]